.todo-container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(227, 227, 228);
    color: #333;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
}

.todo-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.todo-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-container button:hover {
    background-color: #00e1ff;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.todo-list li.completed span {
    text-decoration: line-through;
    color: #6c757d;
}

.todo-list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.todo-list li button:hover {
    background-color: #c82333;
}
